.wrapper {
    width: 100%;
    padding: 0 16px;

    .content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: var(--primary-color-1);
        border-radius: 12px;
        padding: 10px;

        .warning-message {
            text-align: center;

            & > p {
                padding: 20px 0;
                margin: 20px 0;

                &.message-primary {
                    font-weight: bold;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .wrapper {
        padding: 0;

        .content {
            padding: 20px;

            .warning-img {
                width: 90%;
                height: fit-content;
            }

            .warning-message {
                & > p {
                    text-align: justify;
                }
            }
        }
    }
}
