.wrapper {
    width: var(--with-navbar);
    height: 100vh;
    padding: 20px;

    .content {
        width: 100%;
        height: 100%;
        padding: 16px;
        background-color: var(--primary-color-1);
        border-right: 1px solid var(--border-color);
        border-radius: 12px;
        box-shadow: var(--box-shadow-color);
        transition: box-shadow 0.2s var(--itr-yy-z);

        &:hover {
            box-shadow: 0 0 2px 2px #00000010;
        }
    }
}
