.wrapper {
    width: 100vw;

    .content {
        width: 100%;
        position: relative;
        padding-left: var(--with-navbar);
        padding-right: 20px;

        .header {
            padding: 16px 0;
        }

        .nav {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1;

            .showNav {
                display: none;
                position: absolute;
                top: 50%;
                right: -20px;
                transform: translateY(-50%);
                z-index: 1;
            }
        }
    }
}

@media (max-width: 1024px) {
    .wrapper {
        .content {
            padding: 0 20px;
            .nav {
                left: calc(-1 * 100%);
                transition: left 0.2s ease-in-out;
                .showNav {
                    display: block;
                }
            }
        }
    }
}
